<div class="main">
  <!-- <img class="fpg-img" src="../../assets/fpg.png" alt="Free Pixel Game Ltd."> -->
  <h1 class="title">Free Pixel Games Ltd.</h1>

  <div class="text-center">
    <button class="btn btn-secondary nav-btn" routerLink="/firebase">Firebase Data</button>
  </div>

  <div class="text-center">
    <button class="btn btn-secondary nav-btn" routerLink="/games">Games</button>
  </div>

  <div class="text-center">
    <button class="btn btn-secondary" routerLink="/sourceSink">Source Sink</button>
  </div>

  <div class="text-center">
    <button class="btn btn-secondary nav-btn" routerLink="/domains">Domains</button>
  </div>

  <div class="text-center">
    <button class="btn btn-secondary" routerLink="/dinobattlegp2012">CTR of "dinobattlegp2012"</button>
  </div>

</div>

