<div *ngIf="isLoading" class="loader-container col-md-12">
    <mat-spinner diameter="50" style="top: 50%; left: 50%;" color="accent" mode="indeterminate"></mat-spinner>
</div>

<div *ngIf="isShown" >
    <h3>User Count</h3>
    <h3 style="text-align: center;">{{ game }}</h3>
    <h4 style="text-align: center;">
        User Count: {{ userCount }}
    </h4>
    <app-drawing-chart  [options]="options" [legend]="legend"
                        [datasets]="datasets" [chartType]="chartType"
                        [labels]="labels" [barChartPlugins]="barChartPlugins"
                        [width]="width" [height]="700"
    ></app-drawing-chart>
</div>
