<div class="text-center">
    <form (ngSubmit)="fetchData()">
        <h1 style="text-align: center;">Funvai Data</h1>
        <mat-form-field hideRequiredMarker>
          <mat-label>Select Event</mat-label>
          <mat-select [(value)]="selectedEvent">
          <mat-option *ngFor="let event of eventsArray" [value]="event">{{event}}</mat-option>
          </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field hideRequiredMarker>
          <mat-label>Select Games</mat-label>
          <mat-select #gameSel [(value)]="selectedGames" multiple>
          <mat-option [value]="0" (click)="toggleAllGameSelection()">All Games</mat-option>
          <mat-option *ngFor="let game of gamesArray" [value]="game">{{game}}</mat-option>
          </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field hideRequiredMarker>
            <mat-label>Select Charts</mat-label>
            <mat-select #chartSel [(value)]="selectedCharts" multiple>
            <mat-option [value]="0" (click)="toggleAllChartSelection()">All Charts</mat-option>
            <mat-option *ngFor="let chart of chartsArray" [value]="chart">{{chart}}</mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field hideRequiredMarker>
            <mat-label>select time span</mat-label>
            <mat-select [(value)]="selectedTimeSpan">
            <mat-option *ngFor="let timeSpan of timeSpans; let i = index" [value]="i">{{timeSpan}}</mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <button mat-raised-button>Fetch</button>
    </form>
</div>
  
<br>

<h1 style="text-align: center;">{{ selectedEvent }}</h1>
  
<div *ngIf="isShown[0]">

  <div *ngFor="let game of selectedGames">
    <app-event-user-data
                        *ngIf="game != 0"
                        [eventName]="selectedEvent"
                        [metricName]="'newUsers'"
                        [startDate]="numericalValuesOfTimeSpans[selectedTimeSpan][0]"
                        [endDate]="numericalValuesOfTimeSpans[selectedTimeSpan][1]"
                        [game]="game"
    >
    </app-event-user-data>

    <br>
  </div>
</div>

<br>

<div *ngIf="isShown[1]">

  <div *ngFor="let game of selectedGames">
    <app-event-user-data
                        *ngIf="game != 0"
                        [eventName]="selectedEvent"
                        [metricName]="'activeUsers'"
                        [startDate]="numericalValuesOfTimeSpans[selectedTimeSpan][0]"
                        [endDate]="numericalValuesOfTimeSpans[selectedTimeSpan][1]"
                        [game]="game"
    >
    </app-event-user-data>

    <br>
  </div>
</div>
  