<div class="container games">
    <div class="row">
      <ng-template [ngIf]="!indicator">
        <div *ngFor="let game of games" class="col col-md-4 col-sm-6">
          <li class="list-group-item">
            <a [routerLink]="['/games', game]">{{ game }}</a>
          </li>
        </div>
      </ng-template>
      <ng-template [ngIf]="indicator">
        <div *ngFor="let game of games" class="col col-md-4 col-sm-6">
          <li class="list-group-item">
            <a [routerLink]="['/ad_completion', game]">{{ game }}</a>
          </li>
        </div>
      </ng-template>
    </div>
</div>
