<div class="container games">
  <div class="row">
    <div *ngFor="let game of games" class="col col-lg-4 col-md-6">
      <li class="list-group-item">
        <h3 style="text-align: center;">{{ game }}</h3>
        <br>
        <div class="text-center">
          <button class="btn btn-secondary game-item" [routerLink]="['/otherctr', game]">CTR of Other Games in This
            Game
          </button>
        </div>
        <div class="text-center">
          <button class="btn btn-secondary" [routerLink]="['/adcompletion', game]">Ad Completion</button>
        </div>
        <div class="text-center">
          <button class="btn btn-secondary" [routerLink]="['/ctrwrtsrc', game]">CTR with respect to Ad Source</button>
        </div>
      </li>
    </div>
  </div>
</div>
