.mat-list-item{
  max-height: 30px;
}

#canvas{
  width: 100%;
}

.right-align{
  margin-right: 0;
  margin-left: auto;
}

/*.mat-list .mat-list-item.left .mat-list-item-content{*/
/*  justify-content: flex-start;*/
/*}*/

/*.mat-list .mat-list-item.right .mat-list-item-content{*/
/*  justify-content: flex-end;*/
/*}*/
