<div class="text-center">
  <form (ngSubmit)="fetchData()">
    <mat-form-field hideRequiredMarker>
      <mat-label>Database</mat-label>
      <mat-select [(value)]="selectedDatabase" required>
        <mat-option *ngFor="let game of games" [value]="game">{{game}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field hideRequiredMarker>
      <mat-label>Lower Limit</mat-label>
      <input matInput required type="Number" placeholder="lower limit of bucks" name="lowerLimitOfBucks"
             [(ngModel)]="lowerLimitOfBucks">
    </mat-form-field>
    <br>
    <mat-form-field hideRequiredMarker>
      <mat-label>Upper Limit</mat-label>
      <input matInput required type="Number" placeholder="upper limit of bucks" name="upperLimitOfBucks"
             [(ngModel)]="upperLimitOfBucks">
    </mat-form-field>
    <br>
    <mat-form-field hideRequiredMarker>
      <mat-label>select charts</mat-label>
      <mat-select #mySel [(value)]="selectedCharts" multiple>
        <mat-option [value]="0" (click)="toggleAllSelection()">All items</mat-option>
        <mat-option *ngFor="let chart of chartsArray" [value]="chart">{{chart}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field hideRequiredMarker>
      <mat-label>select time span</mat-label>
      <mat-select [(value)]="seletedTimeSpan">
        <mat-option *ngFor="let timeSpan of timeSpans; let i = index" [value]="numericalValuesOfTimeSpans[i]">{{timeSpan}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button>fetch</button>
  </form>
</div>

<br>

<!--<h3>from {{this.lastNDaysTime}} to {{this.currentTime}}</h3>-->
<!--<h3>from {{this.previousNdaysTime}} to {{this.lastNDaysTime}}</h3>-->

<!--<ng-template *ngIf="isShown">-->
<div *ngIf="isShown[0]">
  <h3 style="text-align: center;">from {{this.lastNDaysTime}} to {{this.currentTime}}</h3>
  <app-average-bucks [selectedDatabase]="selectedDatabase"
                     [lowerLimitOfBucks]="lowerLimitOfBucks"
                     [upperLimitOfBucks]="upperLimitOfBucks"
                     [selectedMinTimeSpan]="0"
                     [selectedMaxTimeSpan]="seletedTimeSpan"
  >
  </app-average-bucks>
</div>
<br>
<div *ngIf="isShown[0]">
  <h3 style="text-align: center;">from {{this.previousNdaysTime}} to {{this.lastNDaysTime}}</h3>
  <app-average-bucks [selectedDatabase]="selectedDatabase"
                     [lowerLimitOfBucks]="lowerLimitOfBucks"
                     [upperLimitOfBucks]="upperLimitOfBucks"
                     [selectedMinTimeSpan]="seletedTimeSpan"
                     [selectedMaxTimeSpan]="2 * seletedTimeSpan"
  >
  </app-average-bucks>
</div>
<br>
<div *ngIf='isShown[1]'>
  <h3 style="text-align: center;">from {{this.lastNDaysTime}} to {{this.currentTime}}</h3>
  <app-bucks-spend-and-earning [selectedDatabase]="selectedDatabase"
                               [lowerLimitOfBucks]="lowerLimitOfBucks"
                               [upperLimitOfBucks]="upperLimitOfBucks"
                               [selectedMinTimeSpan]="0"
                               [selectedMaxTimeSpan]="seletedTimeSpan"
  ></app-bucks-spend-and-earning>
</div>
<br>
<div *ngIf='isShown[1]'>
  <h3 style="text-align: center;">from {{this.previousNdaysTime}} to {{this.lastNDaysTime}}</h3>
  <app-bucks-spend-and-earning [selectedDatabase]="selectedDatabase"
                               [lowerLimitOfBucks]="lowerLimitOfBucks"
                               [upperLimitOfBucks]="upperLimitOfBucks"
                               [selectedMinTimeSpan]="0"
                               [selectedMaxTimeSpan]="seletedTimeSpan"
  ></app-bucks-spend-and-earning>
</div>
<br>
<div *ngIf='isShown[2]'>
  <h3 style="text-align: center;">from {{this.lastNDaysTime}} to {{this.currentTime}}</h3>
  <app-average-cumulative-bucks [selectedDatabase]="selectedDatabase"
                                [lowerLimitOfBucks]="lowerLimitOfBucks"
                                [upperLimitOfBucks]="upperLimitOfBucks"
                                [selectedMinTimeSpan]="0"
                                [selectedMaxTimeSpan]="seletedTimeSpan"
  ></app-average-cumulative-bucks>
</div>
<br>
<div *ngIf='isShown[2]'>
  <h3 style="text-align: center;">from {{this.previousNdaysTime}} to {{this.lastNDaysTime}}</h3>
  <app-average-cumulative-bucks [selectedDatabase]="selectedDatabase"
                                [lowerLimitOfBucks]="lowerLimitOfBucks"
                                [upperLimitOfBucks]="upperLimitOfBucks"
                                [selectedMinTimeSpan]="seletedTimeSpan"
                                [selectedMaxTimeSpan]="2 * seletedTimeSpan"
  ></app-average-cumulative-bucks>
</div>
<br>
<div *ngIf='isShown[3]'>
  <h3 style="text-align: center;">from {{this.lastNDaysTime}} to {{this.currentTime}}</h3>
  <app-sum-of-bucks-spend-earning [selectedDatabase]="selectedDatabase"
                                  [lowerLimitOfBucks]="lowerLimitOfBucks"
                                  [upperLimitOfBucks]="upperLimitOfBucks"
                                  [selectedMinTimeSpan]="0"
                                  [selectedMaxTimeSpan]="seletedTimeSpan"

  ></app-sum-of-bucks-spend-earning>
</div>
<br>
<div *ngIf='isShown[3]'>
  <h3 style="text-align: center;">from {{this.previousNdaysTime}} to {{this.lastNDaysTime}}</h3>
  <app-sum-of-bucks-spend-earning [selectedDatabase]="selectedDatabase"
                                  [lowerLimitOfBucks]="lowerLimitOfBucks"
                                  [upperLimitOfBucks]="upperLimitOfBucks"
                                  [selectedMinTimeSpan]="seletedTimeSpan"
                                  [selectedMaxTimeSpan]="2 * seletedTimeSpan"

  ></app-sum-of-bucks-spend-earning>
</div>
<br>

<div *ngIf='isShown[4]'>
  <app-average-adshow-source [selectedDatabase]="selectedDatabase"
                               [lowerLimitOfBucks]="lowerLimitOfBucks"
                               [upperLimitOfBucks]="upperLimitOfBucks"
                               [selectedMinTimeSpan]="0"
                               [selectedMaxTimeSpan]="seletedTimeSpan"
                               [reqType] = "'all'"

  ></app-average-adshow-source>
</div>
<br>

<div *ngIf='isShown[5]'>
  <h3 style="text-align: center;">from {{this.lastNDaysTime}} to {{this.currentTime}}</h3>
  <app-average-adshow-source [selectedDatabase]="selectedDatabase"
                               [lowerLimitOfBucks]="lowerLimitOfBucks"
                               [upperLimitOfBucks]="upperLimitOfBucks"
                               [selectedMinTimeSpan]="0"
                               [selectedMaxTimeSpan]="seletedTimeSpan"
                               [reqType] = "'reward'"

  ></app-average-adshow-source>
</div>
<br>
<div *ngIf='isShown[5]'>
  <h3 style="text-align: center;">from {{this.previousNdaysTime}} to {{this.lastNDaysTime}}</h3>
  <app-average-adshow-source [selectedDatabase]="selectedDatabase"
                               [lowerLimitOfBucks]="lowerLimitOfBucks"
                               [upperLimitOfBucks]="upperLimitOfBucks"
                               [selectedMinTimeSpan]="seletedTimeSpan"
                               [selectedMaxTimeSpan]="seletedTimeSpan + seletedTimeSpan"
                               [reqType] = "'reward'"

  ></app-average-adshow-source>
</div>
<br>

<br>

<div *ngIf='isShown[6]'>
  <h3 style="text-align: center;">from {{this.lastNDaysTime}} to {{this.currentTime}}</h3>
  <app-average-adshow-source [selectedDatabase]="selectedDatabase"
                               [lowerLimitOfBucks]="lowerLimitOfBucks"
                               [upperLimitOfBucks]="upperLimitOfBucks"
                               [selectedMinTimeSpan]="0"
                               [selectedMaxTimeSpan]="seletedTimeSpan"
                               [reqType] = "'int'"

  ></app-average-adshow-source>
</div>
<br>
<div *ngIf='isShown[6]'>
  <h3 style="text-align: center;">from {{this.previousNdaysTime}} to {{this.lastNDaysTime}}</h3>
  <app-average-adshow-source [selectedDatabase]="selectedDatabase"
                               [lowerLimitOfBucks]="lowerLimitOfBucks"
                               [upperLimitOfBucks]="upperLimitOfBucks"
                               [selectedMinTimeSpan]="seletedTimeSpan"
                               [selectedMaxTimeSpan]="seletedTimeSpan + seletedTimeSpan"
                               [reqType] = "'int'"

  ></app-average-adshow-source>
</div>
<br>
